{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="bg-gray-100 flex justify-center items-center min-h-screen">
    <div class="flex justify-end w-full p-6">
        <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
            <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">Войти в систему</h2>
            <form method="POST" action="/login/">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="username" class="block text-gray-600 font-medium mb-2">Имя пользователя</label>
                    <input type="text" name="username" id="username" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    {% if form.username.errors %}
                        <div class="text-red-500 text-sm mt-2">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-600 font-medium mb-2">Пароль</label>
                    <input type="password" name="password" id="password" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    {% if form.password.errors %}
                        <div class="text-red-500 text-sm mt-2">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% if form.non_field_errors %}
                    <div class="text-red-500 text-sm mt-2">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition">Войти</button>
            </form>
            <div class="text-center mt-4">
                <a href="/register/" class="text-blue-500 hover:underline">Регистрация</a>
            </div>
        </div>
    </div>


    <div class="mt-6 p-6 bg-gray-200 rounded-lg shadow-lg max-w-md mx-auto">
        <h3 class="text-lg font-semibold text-gray-700">Информация о пароле</h3>
        <p><strong>Пароль из базы данных:</strong> {{ user_password }}</p>
        <p><strong>Захешированный пароль для проверки:</strong> {{ hashed_password_for_check }}</p>
    </div>

</body>
{% endblock content %}
