{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'user/css/register.css' %}">
{% endblock style %}

{% block content %}
<div class="flex justify-center items-center min-h-screen ">
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-center text-3xl font-bold text-purple-300 mb-6">Войти</h1>
        <form method="post" class="space-y-6">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-semibold text-purple-300 mb-2">{{ field.label }}</label>
                    <div class="mb-4">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <div class="errorlist mt-2 text-sm text-red-500">
                            {% for error in field.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <button type="submit" class="w-full py-2 px-4 bg-purple-500 text-white rounded-lg shadow-md hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-400">
                Войти
            </button>
        </form>

        <!-- Кнопка регистрации -->
        <div class="mt-4 text-center">
            <p class="text-sm text-purple-300">Нет аккаунта? <a href="{% url 'register' %}" class="text-purple-400 hover:underline">Зарегистрируйтесь</a></p>
        </div>
    </div>
</div>
{% endblock content %}
