{% extends 'base.html' %}
{% block content %}
<div class="flex flex-col gap-4 bg-opacity-90 items-center justify-center bg-gray-900 text-purple-400 py-8 px-4 max-w-6xl mx-auto p-6 rounded-lg shadow-lg">
<!-- Блок Достижения внизу -->
<div class="w-full mt-6 bg-gray-800 p-6 rounded-lg shadow-lg">
    <h3 class="text-xl font-bold text-purple-300 mb-4">Достижения:</h3>
    <div class="flex flex-wrap gap-4">
        {% if profile.achievement.exists %}
        {% for achievement in profile.achievement.all %}
        <div class="relative group">
            <img src="{{ achievement.image.url }}" alt="{{ achievement.name }}" class="w-16 h-16 object-cover rounded-lg cursor-pointer hover:scale-105 transition-transform duration-300">
            <!-- Всплывающее описание -->
            <div class="absolute bottom-full left-1/2 transform -translate-x-1/2 bg-gray-700 text-white p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 w-48 ">
                <p class="text-xs text-purple-500">{{ achievement.description|slice:":60" }}...</p>
                <p class="text-xs">Получено: </p>
                <p class="text-xs">{{ achievement.earned_date|date:"d.m.Y" }} </p>

            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-gray-400">Нет достижений.</p>
        {% endif %}
    </div>
</div>
    <!-- Основной контент в строку -->
    <div class="flex w-full gap-6 lg:flex-row flex-col">
        <!-- Левая колонка -->
        <div class="w-full lg:w-1/3 bg-gray-800 p-6 rounded-lg shadow-lg">
            <img src="{{ profile.profile_image.url }}" alt="Аватар" class="w-32 mx-auto mb-4">
            <h1 class="text-center text-2xl text-purple-300 mb-2 text-balance">{{ profile.username }}</h1>
            <p class="text-center text-purple-200 mb-4">Ролевое имя: {{ profile.get_full_name }}</p>
            <ul class="space-y-2 text-balance">
                <li><strong class="text-purple-400">Роль:</strong> <span class="text-yellow-300">{{ profile.role.name|default:"Путешественник" }}</span></li>
                <li><strong class="text-purple-400">Донат:</strong> <span class="text-yellow-400">{{ profile.donate.name|default:"Нет доната" }}</span></li>
                <li><strong class="text-purple-400">Город:</strong> <span class="text-yellow-400">{{ profile.city }}</span></li>
                <li><strong class="text-purple-400">Социальный рейтинг:</strong> <span class="text-yellow-400">{{ profile.social_rating }}</span></li>
                <li><strong class="text-purple-400">Дата регистрации:</strong> <span class="text-yellow-400">{{ profile.date_joined|date:"d M Y" }}</span></li>
                <li><strong class="text-purple-400">Описание:</strong> <span class="text-yellow-400">{{ profile.description }}</span></li>
            </ul>
            <div class="flex flex-col gap-2 mt-6 text-center">
                {% if profile == request.user %}
                <a href="{% url 'profile_edit' username=profile.username %}" class="w-full bg-purple-500 hover:bg-purple-600 text-white px-4 py-2 rounded-lg shadow-md">
                    Изменить данные
                </a>
                <a href="{% url 'logout' %}" class="w-full bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg shadow-md">
                    Выйти
                </a>
                {% endif %}
            </div>
        </div>

        <!-- Правая колонка -->
        <div class="flex-grow space-y-6">
            <!-- Пройденные ивенты -->
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-purple-300 mb-4">Пройденные ивенты:</h3>
                <div class="max-h-64 overflow-y-auto space-y-4">
                    {% for event in profile.passed_events.all %}
                    <div class="space-y-4 bg-gray-700 p-4 rounded-lg">
                        <h4 class="text-lg font-semibold text-purple-200">
                            <a href="{% url 'event_detail' event.id %}" class="block text-purple-400 hover:underline">
                                {{ event.title }}
                            </a>
                        </h4>
                        <p class="text-sm text-purple-200">{{ event.description|slice:":40" }}</p>
                        <p class="text-xs text-gray-400">Дата: {{ event.date|date:"d.m.Y" }} | Время: {{ event.time|date:"H:i" }}</p>
                    </div>
                    {% empty %}
                    <p class="text-gray-400">Нет пройденных ивентов.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Судимости -->
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-purple-300 mb-4">Судимости:</h3>
                <div class="max-h-64 overflow-y-auto space-y-2">
                    {% if profile.conviction.exists %}
                    {% for conviction in profile.conviction.all %}
                    <div class="space-y-4 bg-gray-700 p-4 rounded-lg">
                        <h4 class="text-lg font-semibold text-purple-200">{{ conviction.name }}</h4>
                        <p class="text-sm text-purple-200">{{ conviction.description }}</p>
                        <p class="text-xs text-gray-400">Получено: {{ conviction.earned_date|date:"d.m.Y H:i" }}</p>
                        {% if conviction.image %}
                        <img src="{{ conviction.image.url }}" alt="{{ conviction.name }}" class="w-32 h-32 object-cover rounded-lg mt-2">
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-gray-400">Нет судимостей.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>




</div>
{% endblock %}
