{% extends "base.html" %}

{% block title %}Правила сервера{% endblock %}

{% block content %}
<div class="rules-container max-w-4xl mx-auto bg-gray-800 bg-opacity-90 p-6 rounded-lg shadow-lg">
    <div class="section mb-8">
        <h2 class="text-2xl font-semibold mb-2">Правила</h2>
        <p class="mb-2">Правила будут постоянно меняться и дополняться, так что не забывайте их регулярно проверять, помните, что не знание правил не освобождает вас от ответственности!!!⚠️</p>
        <p>Давайте сделаем нашу вселенную лучшей, будем соблюдать правила и все будут довольны🩷✨☺</p>
    </div>

    <div class="section mb-8">
        <h3 class="text-xl font-semibold mb-2">1. Пункт</h3>
        <h4 class="text-lg font-semibold mb-2">Общие положения</h4>
        <ul class="list-disc pl-6">
            <li>В стране действует федеративная система управления территориями. Каждый город является отдельным штатом со своими законами и положениями, которые не должны противоречить государственным.</li>
            <li>Главной валютой на сервере является "блок алмазной руды" или “блок глубинной алмазной руды” (АР)</li>
            <li>Если какие-то правила не описаны, и вы хотите произвести какой-то действие по отношению территорий, законов, правил, игроков и не знаете, что за это будет, то спросите об этом Администрацию.</li>
            <li>Все юридические действия должны быть подтверждены документами.</li>
            <li>BaseBlock – вселенная сервера в котором происходит все действия. Все прибывшие игроки являются Путешественниками из других вселенных.</li>
            <li>Сервер позиционируется как РП сервер.</li>
            <li>На сервере есть свой сюжет, он формируется от любых действий игроков, ивентов и серверных ивентов.</li>
        </ul>
    </div>

    <div class="section mb-8">
        <h3 class="text-xl font-semibold mb-2">2. Пункт</h3>
        <h4 class="text-lg font-semibold mb-2">Поведение на сервере</h4>
        <p class="mb-2">(Правила распознаются на внутри игровой чат и голосовой чат и также все текстовые и голосовые чаты в дискорде и телеграмме) (решается администрацией без суда, мут/бан/тюрьма/кик/таймаут)</p>
        <ul class="list-disc pl-6">
            <li>Уважайте других игроков: не оскорбляйте, не тролльте в голосовых каналах и чатах и не мешайте их игре на сервере.</li>
            <li>Не преследуйте/донимайте игроков и не провоцируйте других, если игрок этого не хочет.</li>
            <li>Запрещён флуд (в том числе и с использованием различных звуков, а также с использованием приложений) и оскорбления в голосовых каналах и чатах.</li>
            <li>Соблюдайте этикет сервера: будьте вежливыми и учтивыми в чате, не спамьте и не рекламируйте что-либо без разрешения администрации.</li>
            <li>Запрещена нецензурная лексика, клевета, угрозы, провокационные, экстремистские сообщения, выходящие за рамки общепринятых моральных норм.</li>
            <li>Запрещается сообщения, унижающие человеческое достоинство, разжигающие межнациональную рознь. А также, сообщения сексуального характера, угрозы расправой в реальной жизни, угрозы баном, дезинформированние игроков, дискриминация людей по религиозному или другим признакам, пропаганда, обсуждение наркотических и психоделических веществ.</li>
            <li>Запрещено нарушать правила Ролевой игры.</li>
            <li>Если вы стали свидетелем или пострадали от нарушений из этого раздела от какого-либо человека на сервере, то вам необходимо обратиться к администрации @☯️Хранитель вселенной⚛️ / @🛠⚙️Дискорд модератор</li>
        </ul>
    </div>

    <div class="section mb-8">
        <h3 class="text-xl font-semibold mb-2">3. Пункт</h3>
        <h4 class="text-lg font-semibold mb-2">Взаимодействие с миром и игровой процесс</h4>
        <div class="subsection mb-4">
            <h4 class="text-lg font-semibold mb-2">3.1. Уголовная ответственность</h4>
            <ul class="list-disc pl-6">
                <li>Запрещено использование любых багов игрового клиента, сервера, а также их целенаправленный поиск для личной выгоды. Если нашли баг, то вы должны немедленно сообщить администрации.</li>
                <li>Запрещено использование эксплоитов.</li>
                <li>Запрещено использование читов любого характера.</li>
                <li>Запрещено использование модов дающее нечестное преимущество над игроками:</li>
                <ul class="list-disc pl-8">
                    <li>Модификации, выполняющие действия за игрока</li>
                    <li>Мини-картами или другими модами, показывающими местоположение игроков, мобов и т.д.</li>
                    <li>Модификации на авто строительство. (Принтеры, Боты, ИИ)</li>
                    <li>Авто-подбора предметов в руки (Тотемов, Инструментов)</li>
                    <li>Изменяющие визуальную обработку игры (Используйте Sodium или Optifine)</li>
                    <li>Убирающие визуально эффекты. (Слепоту или Тьму)</li>
                </ul>
                <li>Запрещены текстур паки, дающие преимущество. (X-Ray, удаление огня)</li>
                <li>Запрещено использование любых дюпов.</li>
                <li>Запрещена торговля игровыми ценностями за реальные деньги.</li>
                <li>Запрещено строить лаг машины любого типа.</li>
                <li>Нельзя много раз перекладывать одну и туже вещь из сундуков без причины, это помеха администрации.</li>
                <li>Попытки взлома чужих аккаунтов или сервера.</li>
                <li>Запрещено продавать/обменивать/передавать аккаунты.</li>
            </ul>
        </div>
    </div>

    <div class="section mb-8">
        <h3 class="text-xl font-semibold mb-2">4. Пункт</h3>
        <h4 class="text-lg font-semibold mb-2">Ролевая составляющая</h4>
        <div class="subsection mb-4">
            <h4 class="text-lg font-semibold mb-2">4.1. Основные принципы</h4>
            <ul class="list-disc pl-6">
                <li>Реализм и достоверность:</li>
                <ul class="list-disc pl-8">
                    <li>Вести себя так, как ваш персонаж бы вел себя в реальной жизни.</li>
                    <li>Избегать использования игрового сленга и терминов в IC (in-character) общении.</li>
                </ul>
                <li>Разделение IC и OOC:</li>
                <ul class="list-disc pl-8">
                    <li>IC (in-character) - все, что происходит с вашим персонажем в игре. (РП)</li>
                    <li>OOC (out-of-character) - все, что связано с вами как с игроком. (НонРП)</li>
                </ul>
            </ul>
        </div>
    </div>

    <div class="section mb-8">
        <h3 class="text-xl font-semibold mb-2">5. Пункт</h3>
        <h4 class="text-lg font-semibold mb-2">Территории</h4>
        <div class="subsection mb-4">
            <h4 class="text-lg font-semibold mb-2">5.1. Виды территорий:</h4>
            <ul class="list-disc pl-6">
                <li>Государственная территория – территория, к которой относится весь игровой мир и мир во всех измерениях и которая является неприкосновенной.</li>
                <li>Общая территория – территория, которая принадлежит государству, и на которой игроки могут самовольно воздвигать постройки и присваивать её себе.</li>
                <li>Территория организаций - территория, которую получает от государства определенная организация с согласия президента.</li>
                <li>Городская территория – территория, присваиваемая определенному городу при его основании и одобрении её президентом.</li>
                <li>Частная территория – территория, которую самовольно занял игрок для своих нужд.</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
