@font-face {
    font-family: 'MinecraftFont';
    src: url('/static/minecraft/fonts/minecraft.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{word-break: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
scrollbar-width: thin;
  scrollbar-color: rgb(192 132 252 / var(--tw-text-opacity, 1)) transparent; /* Цвет полосы прокрутки и трека (в нашем случае трек будет прозрачным) */
/* Стили для скроллбара */
  &::-webkit-scrollbar {
    width: 5px; /* Ширина скроллбара */
  }

  /* Стили для полосы прокрутки */
  &::-webkit-scrollbar-thumb {
    background-color: rgb(192 132 252 / var(--tw-text-opacity, 1)); /* Цвет скроллбара */
    border-radius: 5px; /* Радиус закругления */
  }

  /* Стили для полосы прокрутки при наведении */
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(192 132 252 / var(--tw-text-opacity, 1)); /* Цвет скроллбара при наведении */
  }
}